{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
    "ignorePatterns": ["bin", ".eslintrc", "node_modules"],
    "env": {
        "es2022": true,
        "node": true
    }
}
